html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100vh;
  margin: 0px;
}

a {
  color: black;
}

.Foodsimg {
  object-fit: cover;
}

#root {
  position: relative;
  min-height: 100%;
}

#bkgdImge {
  border-radius: 10%;
  background-image: url("../imgs/hatss.jpg");
  /* background-color: #b185be73; */
  background-repeat: repeat;
  min-width: 100vw;
  margin: 0 auto;
  opacity: 90%;
}

#bkgdStyleForm {
  border: 2px solid black;
  border-radius: 10%;
  padding: 27px;
  box-shadow: 10px 54px 78px 10px rgba(0, 0, 0, 0.63),
    10px 16px 60px 10px rgba(0, 0, 0, 0.26);
  background-color: #c7c1c973;
  background-image: linear-gradient(
    to bottom left,
    rgba(255, 255, 255, 0.904) 35%,
    #e7b796 100%
  );
  /* url("../imgs/bkgd1.png"); */
}

#styleCardInfo {
  width: 58rem;
  border: 2px solid #a88770;
  /* border-radius: 5%; */
  padding: 27px;
  box-shadow: 10px 34px 58px 10px rgba(0, 0, 0, 0.63),
    10px 16px 60px 10px rgba(0, 0, 0, 0.26);
  background-color: #c7c1c973;
  background-image: linear-gradient(
    to bottom left,
    rgba(255, 255, 255, 0.904) 35%,
    #f8dc8d 100%
  );
}

#logoImg {
  min-height: 10vh;
  min-width: 10vw;
}

#textStyle {
  width: 80%;
  margin: auto;
}

#groupBtn {
  z-index: -1;
}

#namelist {
  z-index: 6;
}

#styleIcon:hover + .dropDownUser,
.dropDownUser:hover {
  display: block;
}

#styleIcon {
  width: 55px;
  height: 30px;
}

#btnForm {
  background-color: #a18ba8;
  border: none;
  width: 110px;
  margin-right: 15px;
}

#btnAdvenced {
  background-color: #a18ba8;
  border: none;
}

#msg404 {
  background-image: url("../imgs/404msg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  /* width: 600px; */
}

#bkgdStyle {
  /* background-image: url("../imgs/bkgd1.png"), rgba(255, 255, 255, 0.2); */
  background-image: linear-gradient(
      to bottom,
      rgb(255, 255, 255) 8%,
      rgba(255, 255, 255, 0.2) 100%,
      rgba(255, 255, 255, 0.952) 10%
    ),
    url("../imgs/bkgd2.jpg");
  background-size: cover;
  height: 500px;
}

#bkgdStyle2 {
  height: 450px;
}

#introduction {
  background-color: #f8dc8d;
  /* background-color: #a18ba8; */
}

#listStyle {
  padding-left: 0px;
}

#slogen {
  font-family: Snell Roundhand, cursive;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.322);
  color: #dbd9d4;
  font-weight: 900;
}

#listStyle li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  border-left: 1px solid rgba(25, 26, 25, 0.514);
}

#loginCard {
  margin: 30px auto;
  padding: 10px;
  width: 400px;
  /* background-color: #897291; */
  background-color: #e7b796;
  color: white;
}

#formMedia {
  width: 50%;
}

.hrMain {
  border: 3px solid rgba(0, 0, 0, 0.192);
}

.h1style {
  font-family: "Fuggles", cursive;
  font-size: 130px;
  font-weight: 200;
}

.h1styleUser {
  /* font-family: "Fuggles", cursive; */
  /* font-family: "Caveat", cursive; */
  font-family: "Dancing Script", cursive;
}

.sortRacipes span {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.sortRacipes span:hover {
  font-weight: bold;
}

/* .navStyle {
  justify-content: space-between;
  height: 50px;
} */

.styleMainNav {
  background-color: #dbd9d4;
}

.styleCard {
  background-color: #dbd9d4;
  /* color:black; */
}

.dropDownUser {
  position: absolute;
  display: none;
  /* left: 0; */
  top: 70%;
  z-index: 3000;
  float: left;
  font-size: 1rem;
  min-width: 10rem;
  list-style: none;
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  border-radius: 0.25rem;
  background-clip: padding-box;
  padding: 0.5rem 0;
}

.footer {
  margin-bottom: 0rem;
  padding: 1rem;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.feedback {
  font-weight: bold;
  color: black;
}

.styleBorder {
  border-left-style: dotted;
}

.styleRow {
  border-bottom-style: dotted;
}

.siz {
  /* min-height:100vh; */
}

/* .imgCover{} */

.styleRowUp {
  border-top-style: dotted;
}

/* checkbox style */
/* The checkItems */
.checkItems {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkItems input {
  opacity: 1;
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: #eee;
  margin-right: 15px;
}

.checkItems label {
  margin-left: 25px;
}

.mediaStyle {
  min-height: 400px;
}

@media screen and (max-width: 600px) {
  .optional {
    display: none;
  }
  .mediaStyle {
    min-height: 350px;
  }

  #formMedia {
    width: 90vw;
  }
}

@media print {
  #introduction {
    /* max-height: none !important; */
    max-height: 30% !important;
    width: 100%;
    margin: auto auto;
  }

  #imgFood {
    max-height: 50vh !important;
  }

  #styleCardInfo {
    margin: 60px 60px 100px 60px;
    display: block;
  }
  .pagebreak {
    clear: both;
    page-break-before: always;
  }
  .notPrint {
    display: none;
  }
}
