#msgDefaultFAV {
  font-size: 30px;
  border-radius: 30%;
  text-align: center;
  color: aquamarine;
  background-color: rgba(0, 0, 0, 0.397);
  width: 500px;
  height: 250px;
}
/* #msgNoIngredient {

  border-radius: 50%;
  border-style: dashed;
} */

#formAlignitem {
  align-items: center;
  margin: auto auto;
}
#noIngredient {
  background-image: url("../../../imgs/cheff5.png");
  height: 120px;
  width: 140px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

#noIngredient2 {
  background-image: url("../../../imgs/cheff8.jpg");
  height: 120px;
  width: 140px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

#msgDefault {
  padding: 40px 30px;
  font-size: 30px;
  border-radius: 30%;
  text-align: center;
  color: aquamarine;
  background-color: rgba(0, 0, 0, 0.397);
  width: 400px;
  height: 200px;
}

#diplayZ {
  /* z-index: 3000; */
}

.h1font {
  font-family: Papyrus;
}

/* .aboutmeBkgd {
  height: 100%;
  background-image: url("/src/imgs/bkgd2.jpg");
  opacity: 0.8;
  background-size: cover;
} */

.bkgdImg{
  background-image:url("../../../imgs/hatss.jpg");
  background-size: cover;
  /* height: 100%; */
}
.categoriesDietsErrMsg {
  font-weight: bold;
  /* color: blue; */
  /* margin-top: 4px; */
}
.aboutmeBkgd {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.8) 100%
    ),
    url("/src/imgs/aboutme1.jpg");
  background-size: cover;
  height: 100%;
}

.styleForm,
.bolder {
  font-weight: 700;
}

.userNav {
  background-color: #cca9d6a6;
}

.error {
  color: red;
}
.phase-top {
  justify-content: space-evenly;
  padding-bottom: 25px;
}

.phase-top > div {
  flex-grow: 0;
  background-color: white;
  color: black;
  padding: 5px 15px;
  margin-left: 5px;
  border-radius: 50%;
  border: 2px solid black;
}
div.active {
  color: white;
  background-color: #b33ea9da;
}
